<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @toilet.title %>
</p>

<p>
  <strong>Area:</strong>
  <%= @toilet.area %>
</p>

<p>
  <strong>Address:</strong>
  <%= @toilet.address %>
</p>

<p>
  <strong>Time:</strong>
  <%= @toilet.time %>
</p>

<p>
  <strong>Car normal:</strong>
  <%= @toilet.car_normal %>
</p>

<p>
  <strong>Car challenge:</strong>
  <%= @toilet.car_challenge %>
</p>

<p>
  <strong>Type:</strong>
  <%= @toilet.type %>
</p>

<p>
  <strong>Man wa:</strong>
  <%= @toilet.man_wa %>
</p>

<p>
  <strong>Man you:</strong>
  <%= @toilet.man_you %>
</p>

<p>
  <strong>Man sho:</strong>
  <%= @toilet.man_sho %>
</p>

<p>
  <strong>Woman wa:</strong>
  <%= @toilet.woman_wa %>
</p>

<p>
  <strong>Woman you:</strong>
  <%= @toilet.woman_you %>
</p>

<p>
  <strong>All wa:</strong>
  <%= @toilet.all_wa %>
</p>

<p>
  <strong>All you:</strong>
  <%= @toilet.all_you %>
</p>

<p>
  <strong>Child dai:</strong>
  <%= @toilet.child_dai %>
</p>

<p>
  <strong>Child sho:</strong>
  <%= @toilet.child_sho %>
</p>

<p>
  <strong>Wash:</strong>
  <%= @toilet.wash %>
</p>

<p>
  <strong>Tesuri:</strong>
  <%= @toilet.tesuri %>
</p>

<p>
  <strong>Emergency:</strong>
  <%= @toilet.emergency %>
</p>

<p>
  <strong>Door:</strong>
  <%= @toilet.door %>
</p>

<p>
  <strong>Space:</strong>
  <%= @toilet.space %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @toilet.direction %>
</p>

<p>
  <strong>Wash flag:</strong>
  <%= @toilet.wash_flag %>
</p>

<p>
  <strong>Care flag:</strong>
  <%= @toilet.care_flag %>
</p>

<p>
  <strong>Ostomate flag:</strong>
  <%= @toilet.ostomate_flag %>
</p>

<p>
  <strong>Tap:</strong>
  <%= @toilet.tap %>
</p>

<p>
  <strong>Dry flag:</strong>
  <%= @toilet.dry_flag %>
</p>

<p>
  <strong>Rest flag:</strong>
  <%= @toilet.rest_flag %>
</p>

<p>
  <strong>Baggage flag:</strong>
  <%= @toilet.baggage_flag %>
</p>

<p>
  <strong>Hook flag:</strong>
  <%= @toilet.hook_flag %>
</p>

<p>
  <strong>Infant chair:</strong>
  <%= @toilet.infant_chair %>
</p>

<p>
  <strong>Infant bed:</strong>
  <%= @toilet.infant_bed %>
</p>

<p>
  <strong>Sightseeing:</strong>
  <%= @toilet.sightseeing %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @toilet.memo %>
</p>

<%= link_to 'Edit', edit_toilet_path(@toilet) %> |
<%= link_to 'Back', toilets_path %>
